:root {
    --bg: hsla(231, 15%, 9%, 1);

    --navBg: hsla(231, 13%, 12%, 1);

    --Icon: hsla(44, 37%, 92%, 1);

    --navText: hsla(42, 37%, 92%, 1);

    --navLines: hsla(230, 5%, 22%, 1);

    --Text1: hsla(54, 100%, 98%, 1);

    --underLine: hsla(52, 98%, 48%, 1);

    --typeBg: hsla(230, 8%, 19%, 1);

    --typeText: hsla(0, 0%, 100%, 1);

    --nonSelected: hsla(43, 5%, 75%, 1);

    --selected: hsla(42, 97%, 58%, 1);

    --menuText: hsla(52, 38%, 97%, 1);

    --menuLines: hsla(230, 3%, 19%, 1);

    --lowerBackground: hsla(230, 10%, 10%, 1);

    --downloadButton: hsla(52, 56%, 96%, 1);

    --downloadText: hsla(230, 8%, 11%, 1);

    --menuSpacing: 1em;

    --typesSpacing: 12px;
}